.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.photo__card {
    width: 300px;
    border: 2px solid rgb(36, 9, 146);
    border-radius: 10px;
}

.gallery__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    
}

.info {
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 5px 5px;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

